<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Querydsl Example</title>
    <!-- Bootstrap -->
    <link th:href="@{/webjars/bootstrap/3.3.1/css/bootstrap.min.css}" rel="stylesheet" media="screen"/>
</head>

<body>

	<div class="container">
		<div class="row">
			<h1 class="text-center">
				<span class="label label-info">Querydsl Example</span>
			</h1>
			
			<div class="col-lg-4">
				<h2>Get all Customer</h2>
				<p>All the customer are retrieved using JPA.</p>
				<p>
				<a href="/all" class="btn btn-lg btn-success">
					<span class="glyphicon glyphicon-fire" aria-hidden="true"></span>
				</a>
				</p>
			</div>
			
			<div class="col-lg-4">
				<h2>Get By Country</h2>
				<p>Get all customer from a specific country.</p>
				<form class="form" action="#" th:action="@{/country}" method="get">
					<div class="row">
					   <div class="col-lg-8">
				      	<select name="name" class="form-control">
	      					<option th:each="con : ${countries}" th:text="${con}" th:value="${con}" />
	      				</select>
	      				<button type="submit" class="btn btn-success">Search</button>
					   </div>
				    </div>
				</form>
			</div>
		
			<div class="col-lg-4">
				<h2>Get by Age range</h2>
				<p>Get Customers of Age group/range.</p>
				<form class="form" action="#" th:action="@{/age}" method="get">
				 <div class="row">
				   <div class="col-lg-2">
				    <label>Start</label>
				   	<input type="text" class="form-control input-sm" name="start" />
				   </div>
				   <div class="col-lg-2">
				    <label>End</label>
				   	<input type="text" class="form-control input-sm" name="end" />
				   </div>
				   <div class="col-lg-2">
				   	<button type="submit" class="btn btn-success">Search</button>
				   </div>
				 </div>
				</form>
			</div>
		</div>
		
		
		
	</div>

<script th:src="@{/webjars/bootstrap/3.3.1/js/bootstrap.min.js}"></script>	
</body>
</html>